{% extends "base.html" %}
{% block header %}
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <!-- NVD3 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.js"></script>
  <script type="text/javascript" src="/static/linePlusLineChart.js"></script>
  <title>{{ blocks | length }} {{ proxy.name }} blocks</title>

  <style>
  #main_chart g.nv-context g.nv-scatter g.nv-series-0 path.nv-point
  {
      stroke-width: 2px;
      fill-opacity: 0.3;
      stroke-opacity: 0.25;
  }
  #main_chart g.nv-context g.nv-series-0 path.nv-line
  {
      stroke-opacity: 0;
  }
  </style>
  <script type="text/javascript">
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }
  function millisecondsToStr (milliseconds) {
    // TIP: to find current time in milliseconds, use:
    // var  current_time_milliseconds = new Date().getTime();

    function numberEnding (number) {
      return (number > 1) ? 's' : '';
    }

    var temp = Math.floor(milliseconds / 1000);
    var years = Math.floor(temp / 31536000);
    if (years) {
      return years + ' year' + numberEnding(years);
    }
    //TODO: Months! Maybe weeks? 
    var days = Math.floor((temp %= 31536000) / 86400);
    if (days) {
      return days + ' day' + numberEnding(days);
    }
    var hours = Math.floor((temp %= 86400) / 3600);
    if (hours) {
      return hours + ' hour' + numberEnding(hours);
    }
    var minutes = Math.floor((temp %= 3600) / 60);
    if (minutes) {
      return minutes + ' minute' + numberEnding(minutes);
    }
    var seconds = temp % 60;
    if (seconds) {
      return seconds + ' second' + numberEnding(seconds);
    }
    return 'less than a second'; //'just now' //or other string you like;
  }

  var blocks = {{ blocks | tojson }};
  blocks.sort(function (a, b) { return a.height - b.height; });
  blocks.reverse();

  nv.addGraph(function() {
    var diffLineData = [];
    var subsidyLineData = [];
    var lastFifteenData = [];
    var heightData = [];
    for (i = 1; i < blocks.length; i++) {
      var block = blocks[i];
      var blockDate = block.time * 1000;
      diffLineData.push({x: blockDate, y: block.difficulty});
      subsidyLineData.push({x: blockDate, y: parseFloat(block.subsidy)});
      lastFifteenData.push({x: blockDate, y: block.last_fifteen});
      heightData.push({x: blockDate, y: block.height});
    }

    var chart = nv.models.linePlusLineChart()
      .margin({left: 100,
               right: 100});

    chart.xAxis.tickFormat(function(d) { return d3.time.format('%b %d %H:%M:%S')(new Date(d)); });
    chart.x2Axis.tickFormat(function(d) { return d3.time.format('%b %d %H:%M:%S')(new Date(d)); });
    chart.y1Axis.tickFormat(d3.format('s,.2f')).showMaxMin(false).axisLabel('Last 15 blocks hashrate (hashes per second)');
    chart.y2Axis.tickFormat(d3.format(',.2f')).showMaxMin(false).axisLabel('Difficulty & Subsidy');

    chart.interactiveLayer.tooltip.headerFormatter(function(d) {
      return d3.time.format('%b %d %H:%M:%S')(new Date(d));
    });

    chart.interactiveLayer.tooltip.valueFormatter(function(d,i) {
      if (d == null)
        return "N/A";
      if (i == 3)
        return chart.y1Axis.tickFormat()(d);
      return chart.y2Axis.tickFormat()(d);
    });

    d3.select('#main_chart')
        .datum([
            {key: 'Difficulty',
             bottomDisabled: true,
             values: diffLineData},
            {key: 'Subsidy',
             bottomDisabled: true,
             values: subsidyLineData},
            {key: 'Block height',
             bar: true,
             topDisabled: true,
             values: heightData},
            {key: 'Last 15 Average',
             bottomDisabled: true,
             bar: true,
             values: lastFifteenData}
            ])
        
        .transition().duration(100)
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
  </script>
{% endblock %}
{% block body %}
{% set timespan = stop - start %}
{% set midpoint = start + timespan %}
<div class="container-fluid">
  {% if blocks %}
  <h3>{{ timespan | duration }} of {{ proxy.name }} blocks starting {{ start | human_date(precision=1) }} <small>({{ start_dt }})</small></h3>
  <p>Drag an area in the bottom graph to zoom, right click to reset to full view.</p>
  <div class="col-md-8">
    {% set blocks_found = blocks | length %}
    <h4>Data Overview</h4>
    <table class="table table-condensed">
      <tr>
        <th>Search Range</th>
        <td>{{ start_dt }} - {{ stop_dt }}</td>
      </tr>
      <tr>
        <th>Search Range (human)</th>
        <td>{{ start_dt | human_date }} - {{ stop_dt | human_date }}</td>
      </tr>
      <tr>
        <th>Search Range Duration</th>
        <td>{{ timespan | duration }}</td>
      </tr>
      <tr>
        <th>Found Time Range</th>
        <td>{{ (blocks[0].time - blocks[-1].time) | duration }}</td>
      </tr>
      <tr>
        <th>Found Block Range</th>
        <td>{{ "{:,}".format(blocks[0].height) }} - {{ "{:,}".format(blocks[-1].height) }}</td>
      </tr>
      <tr>
        <th>Average Solve Time</th>
        <td>{{ ((blocks[0].time - blocks[-1].time) / (blocks | length)) | duration }}</td>
      </tr>
      <tr>
        <th>Found Count</th>
        <td>{{ blocks | length }} blocks</td>
      </tr>
      <tr>
        <th>Time Window</th>
        <td>
          <div class="btn-group">
            {% for span in (3600, 21600, 86400, 604800, 2592000) %}
            {% set halfspan = span // 2 %}
            <a class="{% if span == timespan %} disabled {% endif %} btn btn-default btn-sm" href="/graph/{{ proxy.name }}/{{ midpoint - halfspan }}/{{ stop + halfspan }}">{{ span | duration }}</a>
            {% endfor %}
          </div>
        </td>
      </tr>
      <tr>
        <th>Adjust Search Forward  <i class="fa fa-angle-double-right"></li></th>
        <td>
          <div class="btn-group">
            {% for span in (3600, 21600, 86400, 604800, 2592000) %}
            <a class="btn btn-default btn-sm" href="/graph/{{ proxy.name }}/{{ start + span }}/{{ stop + span }}">{{ span | duration }}</a>
            {% endfor %}
          </div>
        </td>
      </tr>
      <tr>
        <th>Adjust Search Backward <i class="fa fa-angle-double-left"></li></th>
        <td>
          <div class="btn-group">
            {% for span in (3600, 21600, 86400, 604800, 2592000) %}
            <a class="btn btn-default btn-sm" href="/graph/{{ proxy.name }}/{{ start - span }}/{{ stop - span }}">{{ span | duration }}</a>
            {% endfor %}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <svg id="main_chart" style="width: 100%; height: 85%;"></svg>
  {% else %}
    <h3>No blocks in this range</h3>
    <p>Start viewing recent blocks</p>
    <div class="btn-group">
      <a class="btn btn-default" href="/graph/{{ proxy.name }}/latest/21600">Last 6 Hours</a>
      <a class="btn btn-default" href="/graph/{{ proxy.name }}/latest/86400">Last 24 Hours</a>
      <a class="btn btn-default" href="/graph/{{ proxy.name }}/latest/604800">Last 7 Days</a>
      <a class="btn btn-default" href="/graph/{{ proxy.name }}/latest/2592000">Last 30 Days</a>
    </div>
  {% endif %}
</div>
{% endblock %}
