{% extends "base.html" %}

{% block body %}
<div class="container">
  <h2>Block Grapher</h2>
  {% for proxy, info in coins %}
  <h3>{{ proxy.name }} Connection information</h3>
    <div class="well well-sm">
      {% for k, v in info.items() %}
      <b>{{ k }}:</b> {{ v }}<br>
      {% endfor %}
    </div>
    <h3>Graph Guide</h3>
    <ul>
      <li><a href="/graph/{{ proxy.name }}/{{ now - 21600 }}/{{ now }}">Last 6 hours</a></li>
      <li><a href="/graph/{{ proxy.name }}/{{ now - 86400 }}/{{ now }}">Last 24 hours</a></li>
      <li><a href="/graph/{{ proxy.name }}/{{ now - 605500 }}/{{ now }}">Last 7 days</a></li>
    </ul>
    <hr>
  {% endfor %}
</div>
{% endblock %}
