{% extends "base.html" %}

{% block body %}
<div class="container">
  <h2>Block Grapher</h2>
  {% for proxy, last_block in coins %}
  <h3>{{ proxy.name }}</h3>
    Last Block on {{ last_block.time }}
    {% if last_block %}
      <h3>Graph Guide</h3>
      <ul>
        <li><a href="/graph/{{ proxy.name }}/{{ last_block.nTime - 21600 }}/{{ last_block.nTime }}">Last 6 hours</a></li>
        <li><a href="/graph/{{ proxy.name }}/{{ last_block.nTime - 86400 }}/{{ last_block.nTime }}">Last 24 hours</a></li>
        <li><a href="/graph/{{ proxy.name }}/{{ last_block.nTime - 605500 }}/{{ last_block.nTime }}">Last 7 days</a></li>
      </ul>
    {% endif %}
    <hr>
  {% endfor %}
</div>
{% endblock %}
